.wrapper {
    display: flex;
    flex-flow: row wrap;

    text-align: center;
}

.wrapper > * {
    padding: 1px;
    flex: 1 100%;
    margin:0 0 10px 0;
}

.header {
    background: #54d454;
}
/*------------------LOGO TEXT and ICON------------------------*/
.wrapper_logo{

    display:flex;
    flex-flow: wrap;
    margin:10px;
    justify-content: center;

}
.wrapper_logo > div{
    /*background: #29e929;*/
    width: auto;
    margin:1px;
    text-align: right;
    /* line-height: 55px;*/
    font-size: 30px;
}
/*------------------MENU------------------------*/
.wrapper_menu {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px 10px 10px;
    background-color: #29e929;
    justify-content: center;
    border-radius: 2px;
}

.wrapper_menu > div {
    width: 230px;
    margin: 0 2px;
    padding:10px 0;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
    
    /*             */
    flex-grow:1;
}
.wrapper_menu div a{
    /*background: #b24b00;*/
    color: #000000;
    text-decoration: none;
}
.wrapper_menu div:hover {
    background-color: #cfc8b5;
    opacity: 0.5;
}
/*------------------------------------------------------*/

span{
    font-family: 'Cinzel Decorative', serif;
    font-size: 1.2em;
    text-shadow: 4px 4px 4px #393939;
    font-weight: bold;
    text-align: center;
}
article{
    text-align:left;
    padding-left:20px;
    padding-bottom: 20px;
}
/*------------------LEFT BLOCK------------------------*/
.wrapper_main{
    display:flex;
    flex-flow: wrap;
    padding:10px 5px;
    justify-content: center;
    background:#54d454 ;
}
.wrapper_main > div{
    background: #29e929;
    width: auto;
    margin: 0 5px  0 5px  ;
    padding-top: 10px;
    text-align: center;
    line-height: 55px;
    font-size: 40px;
}
/*-----------------------------------------------------*/

/*------------------RIGHT BLOCK ------------------------*/

.wrapper_gallery{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    
}

img{
    height: 130px;
    width: 130px;
}
/*------------------------------------------------------*/
/*@media all and (min-width: 400px) {
    .aside { flex: 1 auto; }

}
@media all and (min-width: 800px) {

    .welcome { order: 1; }
    .favorite{ order: 2; }
    .footer  { order: 4; }
}*/
body {
    background: #a9a9a9;
}
.footer {
    background: #54d454;
    text-align:left;
    padding: 20px;
}
